<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behavioural Assessment Group Report Cover</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../assests/script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../assests/fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../assests/fonts/fonts.css">
    <link rel="stylesheet" href="../assests/style/cover.css">

</head>
<body>
    <div class="cover-logo">
        <div class="row">
            <div class="col-6">
                <img src="../assests/images/icons/logo2.png" alt="" class="coverlogo">
            </div>
            <div class="col-6"><img src="../assests/images/icons/logo.png" alt="" class="coverlogo"></div>
        </div>
    </div>

  <div class="b-bg col-6">
    <div class="info-sec">
        <h1 class="title-type text-uppercase">BEHAVIOURAL<br>ASSESSMENT</h1>
        <h2 class="date-type text-uppercase">GROUP REPORT</h2>
        <p class="info-type text-uppercase">WWWWWWWWWWW
            WWWWWWWWWWW WWWWW
            WWWWWW & WWW WWWWW</p>
        <p class="info-type text-uppercase">12 SEPTEMBER 2021</p>
    </div>
  </div>

</body>
</html>