<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/master.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>BA Report | 1 </title>
    <!-- InstanceEndEditable -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../assests/script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../assests/fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../assests/fonts/fonts.css">
    <link rel="stylesheet" href="../assests/style/style.css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>

    <!--Header-->
     <header class="mb-0">
                <div class="containerw mb-0">
                    <div class="header-container mt-4 mb-0">
                        <hr class="line-bl mb-3">
                        <div class="row" >
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6"><img src="../assests/images/icons/logo2.png" class="logo" alt=""></div>
                                    <div class="col-6"><img src="../assests/images/icons/logo.png" class="logo" alt=""></div>
                                </div>
                            </div>
        
                            <div class="col-8">
								<div class="row">
									<div class="col-12">
										<div class="row mt-2">
											<div class="col-6 text-right" align="right" >ORGANISATION:</div>
											<div class="col-6 text-right" align="right" >WWWWWWWWWWW WWWWWWWWWWW WWWWW WWWWWW & WWW WWW</div>
										</div>
									</div>

									<div class="col-12">
										<div class="row mt-2">
											<div class="col-6 text-right" align="right" >TEST DATE:</div>
											<div class="col-6 text-right" align="right" >12 NOVEMBER 2021</div>
										</div>
									</div>
								</div>
							</div>
							
                        </div>
                        <hr class="line-bl mt-3">
                    </div>
                </div>
            </header>
    <!--Header End-->

    <!--Content Start-->
<!-- InstanceBeginEditable name="contentRegion" -->
	
<div class="containerw mt-5">
    <h1 class="heading-1 text-uppercase mb-0"><strong>INTRODUCTION</strong></h1>
    <div class="row mb-0 ">
        <div class="col-1 pr-0"><hr class="line-bl mb-0"></div>
        <div class="col-1 pl-0"><hr class="line-be mb-0"></div>
    </div>

    <p class="para text-justify">
        <strong>Behavioural Assessment is designed to measure behavioural competencies that employees must possess if they are to be successful in the workplace and prepared for the Fourth Industrial Revolution. 
        </strong>
    </p>
    <p class="para text-justify">
        For a job candidate, behavioural competencies represent behavioural attributes and personality traits whose presence or absence may help to determine his/her level of success in the job for which he/she has applied. These competencies will also be important in the context of career development as an employee progresses in his/her career and takes on jobs that involve more  responsibility.
        <br><br>
Behavioural Assessment covers eight (8) core behavioural competencies that are important in a Fourth Industrial Revolution workplace:
    </p>
</div>

<div class="dimension-bg mt-4">
    <div class="containerw">

        <div class="row mt-3">
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">creativity</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/crea.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Thinking outside the box, transforming ideas into realities.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">innovation</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/in.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Trying new things and introducing improvements.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-info">
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">productivity</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/pro.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Working diligently and producing good results.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">PROBELM SOLVING & RESOURCEFULNESS</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/psr.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Synthesising information and finding solutions to problems.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-info">
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">emotional intelligence</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/ei.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Recognising and managing one’s own emotions and the emotions of others.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">RESILIENCE</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/re.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Adapting in the face of adversity.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-info mb-4">
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">ADAPTATION</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/ad.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        Adjusting to new conditions or new goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-1">
                    <div class="infographic">
                        <img src="../assests/images/info1/info-bg.svg" alt="" class="info-img">
                        <div class="info">
                            <div class="row">
                                <div class="col-12">
                                    <p class="subheading bold text-uppercase">AGILITY</p>
                                </div>
                            </div>
                            <div class="row info-text">
                                <div class="col-2">
                                    <img src="../assests/images/icons/ind/ag.svg" alt="" class="icon">
                                </div>
                                <div class="col-10">
                                    <p class="para2 text-justify">
                                        The ability to learn, adapt, and relearn to keep up withconstantly changing conditions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
	
<!-- InstanceEndEditable -->
    <!--Content End-->

    <!--Footer-->
    <footer>
        <div class="containerw">
            <div class="footer" >
                <div class="containerw">
                    <div class="row">
                        <div class="col-7 footer-logo-style">
                            <span class="footer-text t-footer-copyrights">&copy;2017-2020 Global Psytech Sdn. Bhd. All Rights Reserved.</span>
                        </div>
                        <div class="col-5 footer-logo-style text-right" style="text-align: right;"><!-- InstanceBeginEditable name="footerPage" --><span class="footer-text"> 1 </span><!-- InstanceEndEditable --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--Footer end-->

</body>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!--Script-->
    <!-- InstanceBeginEditable name="script" -->
<script>
script
</script>	
	<!-- InstanceEndEditable -->
<!--Script-->
<!-- InstanceEnd --></html>