<!DOCTYPE html>
<html lang="en"><!-- InstanceBegin template="/Templates/master.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>BA Report | 4 </title>
    <!-- InstanceEndEditable -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <link rel="stylesheet" href="../assests/script/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../assests/fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../assests/fonts/fonts.css">
    <link rel="stylesheet" href="../assests/style/style2.css">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>

    <!--Header-->
     <header class="mb-0">
                <div class="containerw mb-0">
                    <div class="header-container mt-4 mb-0">
                        <hr class="line-bl mb-3">
                        <div class="row" >
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6"><img src="../assests/images/icons/logo2.png" class="logo" alt=""></div>
                                    <div class="col-6"><img src="../assests/images/icons/logo.png" class="logo" alt=""></div>
                                </div>
                            </div>
        
                            <div class="col-8">
								<div class="row">
									<div class="col-12">
										<div class="row mt-2">
											<div class="col-6 text-right" align="right" >ORGANISATION:</div>
											<div class="col-6 text-right" align="right" >WWWWWWWWWWW WWWWWWWWWWW WWWWW WWWWWW & WWW WWW</div>
										</div>
									</div>

									<div class="col-12">
										<div class="row mt-2">
											<div class="col-6 text-right" align="right" >TEST DATE:</div>
											<div class="col-6 text-right" align="right" >12 NOVEMBER 2021</div>
										</div>
									</div>
								</div>
							</div>
							
                        </div>
                        <hr class="line-bl mt-3">
                    </div>
                </div>
            </header>
    <!--Header End-->

    <!--Content Start-->
<!-- InstanceBeginEditable name="contentRegion" -->
	
<div class="containerw mt-4">
    <div class="para-block1">
        <p class="text-justify">
            <strong class="heading-2"> HOW TO READ SCALED SCORES (SS): </strong><br>
            For ease of interpretation, the raw composite score on each scale has been 
            transformed into a standardised value called scaled score.
            A scaled score has a mean of 50 and a standard deviation of 10. 
        </p>
        <div class="score-category">
            <p class="caption">
                <strong>Score Category</strong>
                <div class="row">
                    <div class="col-3 low-sc ">Low=0-29</div>
                    <div class="col-3 med-sc ">Moderate=30-69</div>
                    <div class="col-3 high-sc ">High=70-100</div>
                </div>
            </p>
        </div>
    </div>
</div>


<div class="containerw mt-4">
<table class="tbl" valign="center" style="width: 100%;">
    <thead class="tbl-head">
        <tr><div class="blank"></div></tr>
        <tr>
            <td rowspan="3">No.</td>
            <td rowspan="3">Name</td>
            <td rowspan="3">Gender</td>
            <td rowspan="3">Unit/Agency</td>
            <td colspan="16">Scores</td>
        </tr>
        <tr>
            <td colspan="2">Creativity</td>
            <td colspan="2">Innovation</td>
            <td colspan="2">Productivity</td>
            <td colspan="2">Problem Solving <br> & Resourcefulness</td>
            <td colspan="2">Emotional <br> Intelligence</td>
            <td colspan="2">Resillience</td>
            <td colspan="2">Adaptation</td>
            <td colspan="2">Agility</td>
        </tr>
        <tr>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
            <td >SS</td>
            <td >PR</td>
        </tr>
    </thead>
    <tbody class="tbl-body">
        <tr>
            <td>13</td>
            <td>Test User bint Test User 1</td>
            <td class="center">M</td>
            <td class="center">ABCDEF</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            
            
        </tr>
        <tr>
            <td>14</td>
            <td>Test User bint Test User 1</td>
            <td class="center">F</td>
            <td class="center">ABCDEF</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
           
        </tr>
        <tr>
            <td>15</td>
            <td>Test User bint Test User 1</td>
            <td class="center">M</td>
            <td class="center">ABCDEF</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">63</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
            <td class="tbl-no ss">45</td>
            <td class="tbl-no aa">24</td>
        </tr>
    </tbody>
</table>
</div>

<div class="containerw mt-4 mb-5">
<div class="row ml-1 equal" style="width: 100%;">
  <table class="col-4 tbl tbl-lgd">
    <tr class="">
      <td class="col-1 legend col-print-6">SS</td>
      <td class="col-11 text-uppercase col-print-10">Scaled Score</td>
    </tr>
    <tr>
      <td class="col-1 legend col-print-6">PR</td>
      <td class="col-11 text-uppercase col-print-10">Percentile Rank</td>
    </tr>
  </table>

  <table class="col-4 tbl tbl-lgd">
    <tr class="">
      <td class="col-1 legend col-print-6">F</td>
      <td class="col-11 text-uppercase col-print-10">Female</td>
    </tr>
    <tr>
      <td class="col-1 legend col-print-6">M</td>
      <td class="col-11 text-uppercase col-print-10">Male</td>
    </tr>
  </table>
</div>
</div>
	
<!-- InstanceEndEditable -->
    <!--Content End-->

    <!--Footer-->
    <footer>
        <div class="containerw">
            <div class="footer" >
                <div class="containerw">
                    <div class="row">
                        <div class="col-7 footer-logo-style">
                            <span class="footer-text t-footer-copyrights">&copy;2017-2020 Global Psytech Sdn. Bhd. All Rights Reserved.</span>
                        </div>
                        <div class="col-5 footer-logo-style text-right" style="text-align: right;"><!-- InstanceBeginEditable name="footerPage" --><span class="footer-text"> 4 </span><!-- InstanceEndEditable --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--Footer end-->

</body>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!--Script-->
    <!-- InstanceBeginEditable name="script" -->
<script>

</script>	
	<!-- InstanceEndEditable -->
<!--Script-->
<!-- InstanceEnd --></html>